body {
    font-family: 'Poppins', sans-serif;
    display: flex;
    justify-content: center;
    text-align: center;
}

#main {
    font-size: 45px;
    color: #eb8ac6;
}

.container {
    display: flex;
}

#grid {
    display:flex;
    width: 600px;
    height: 600px;
    flex-direction: column;
    align-items: stretch;
}

.row {
    display: flex;
    flex-wrap: wrap;
    flex: 1;
}

.column {
    display: flex;
    border: 1px solid #78bdeb;
    flex: 1;
}

button {
    background-color: white;
    font-family: 'Poppins', sans-serif;
    border: 1.5px solid #eb8ac6;
    margin-top: 5px;
    margin-bottom: 10px;
    color: #4a4a4a;
}